.timeline {
    display: flex;
    justify-content: space-between; /* Space out the chunks evenly */
    width: 100%; /* Full width of the container */
    border-bottom: 3px solid #000000;
    padding: 0px 50px;
    height: fit-content;
}

.timelineArea {
  height: fit-content;
  width: fit-content;
}

.chunk {
  width: 100%;
  height: 50px; /* Fixed height for each chunk */
  background-color: #4caf50; /* Chunk color */
  border-radius: 0px; /* Rounded corners */
  border: 1px solid #000000;
  margin: 0px -1px -1px 0px; /* Space between chunks */
  font-size: 7px;
}


.task-timeline {
  width: 100%; /* Full width of the container */
  padding: 0px 50px;
  height: fit-content;
  position: relative;
}

.task-div {
  position: absolute;
}

.task-chunk-container {
  height: fit-content; /* Fixed height for each chunk */
  margin: -1px -1px 0px 0px; /* Space between chunks */
  display: flex;
  flex-direction: column;
}

.task-chunk {
  border-radius: 0px; /* Rounded corners */
  border: 1px solid #000000;
  opacity: 0.5;
}

.chunk:hover {
    filter: brightness(80%);
}