.metrics-container {
    height: 65vh;      /* 65% of the viewport height */
    width: auto;      /* Full viewport width */
    padding: 75px 75px;
    display: flex;
    justify-content: center;
}

.metrics-box {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    min-width: 600px;
    max-width: 800px;
    padding: 20px;
    -webkit-text-fill-color: black;
    font-size: large;
    display: flex;
}

.generic-metrics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.top-apps-header {
    margin-top: 0px;
    margin-bottom: 20px;
}

.top-apps {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.top-apps-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.top-apps-list p {
    font-size: 0.9em;
}

.most-used-apps-title {
    text-align: center;
}