input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui {
  justify-content:"center";
  align-items: "center";
}

.countdown-text {
  margin: 10px;
  width: 300px;
  text-align: center;
  font-size: 2em;
  display: inline-block;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.centered {
  justify-content:center;
  align-items: center;
  text-align: center;
}

/* This is the class for specifically the colons between each part of the timer */
.text-countdown { 
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.ui-element {
    background: rgb(12, 124, 251);;
    width: 40vw;
    max-width: 600px;
    margin: 3em auto;
    height: auto;
    border-radius: 15px;
    padding: 10px 10px;
    border: 3px solid rgb(36, 110, 194);
}

.form-group {
  margin: 0px 5px;
}

.begin-session-button {
  margin-top: 15px;
  margin-bottom: 5px !important;
  border: 2px solid rgb(196, 201, 215) !important;
}